@charset "utf-8";
body {
	margin: 60px auto;
	width:70%;
}

h1, h2, h3, h4 { 
	font-family: 'Open Sans', 'Arial', 'Sans-Serif'; 
}

h1 { 
	font-size: 45px; 
}

h2 { 
	font-size: 28px;
 }

h3 { 	
	font-size: 25px;
}

h4 { 
	font-size: 21px; 
}

h1 a {
  color: #333;
  text-decoration: none;
  border-bottom: 0;
}

a{ 

	text-decoration: none;
	color:#000000;
	
}

a:hover {

	text-decoration:underline;
  
}


p {

	font-size: 17px;
	line-height:1.4em;
	color:#333; 
}

ul {
  list-style: none;
  margin:2px;
  padding: 5px;
}

li {
  background: #efefef;
  padding: 5px;
}


nav ul li,footer ul li {
	font-family:'Open Sans'; 
	padding: 2px;
	list-style: none;
	font-weight: 600;
	display:inline;
}

nav ul, footer ul { 
	font-size: 17px; 
	font-family: 'Helvetica', 'Arial', 'Sans-Serif'; 
	padding: 2px; 
	list-style: none;
	font-weight: 600; 
	background: #fff;
}

footer {
	border-top: 1px solid #d5d5d5;
}

img {
  display: inline;
  width: 100%; 
  border: 1px solid #efefef;
}

h1 a {
  color: #333;
  text-decoration: none;
  border-bottom: 0;
}

.column {
	float:left;
	width: 25%;
	padding:10px;
}
.row:after {
	content:"";
	display:table;
	clear:both;
}

@media (max-width:800px) {
	.column {
		width: 50%;
	}
}

@media (max-width: 600px) {
 	.column {
		width:100%;
	}
}
