@charset "utf-8";
body{
	
	margin: 60px auto;
	width: 70%;

}

nav ul li,footer ul li {
	font-family:'Open Sans'; 
	padding: 0px;
	list-style: none;
	font-weight: bold;
  
}

<!-- incase fonts fail -->

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/u-WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSha1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(http://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxrsuoFAk0leveMLeqYtnfAY.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://fonts.gstatic.com/s/opensans/v10/xjAJXh38I15wypJXxuGMBtIh4imgI8P11RFo6YPCPC0.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxmWeb5PoA5ztb49yLyUzH1A.woff) format('woff');
}

a{ 

	text-decoration: none;
	color:#999;
	
}

a:hover {

	text-decoration:underline;
  
}

h1{

  font-size : 1.5em;
  font-family:'Open Sans','Helvetica','Arial';
  
}

p {

	font-size: 1.5em;
	line-height:1.4em;
	color:#333;
  
}

footer {

	border-top: 1px solid #d5d5d5;
  
}

ul.posts {

	margin: 20px auto 40px;
	font-size: 1.5em;
  
}
ul.posts li {
	
	list-style: none;
	
}

nav ul, footer ul {
	
	 font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	 padding: 0px; list-style: none;
 	font-weight: bold;
	
 }

nav ul li, footer ul li { 
	
	display: inline;
	 margin-right: 20px;
	
 }
