<!DOCTYPE html>

<head>
     
      <meta name="description" content="">
      <link rel="stylesheet" type="text/css" href="css/main.css">
	<title> {{page.title}} </title>
</head>

<body>

 <nav>
  
    <ul>
 	<li><a href="/">Home</a></li>
      
    	<li><a href="/">About</a></li>
      
      	<li><a href="/">Freelance</a></li> 
	    
	<li><a href="/">Blog</a></li> 
    </ul>  
 </nav>
      
   <div class="container">
             {{content}}
      </div>
	
<footer>
    		<ul>
        		<li><a href="mailto:darionnewton1@gmail.com">email</a></li>
			  </ul>
       
</footer>
</body>
     
</html>
