<!DOCTYPE html>

<head>
     
      <meta name="Portfolio" content="">
     
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/foundation.css">
	<link rel="stylesheet" type="text/css" href="/css/foundation.min.css">
	
	<title> {{ page.title }} </title>
</head>

<body>

 <nav>
  
    <ul>
 	<li><a href="/">Home</a></li>
      
    	<li><a href="/about">About</a></li>
      
      	<li><a href="/">Freelance</a></li> 
	    
	<li><a href="/">Blog</a></li> 
    </ul>  
 </nav>
      
   <div class="container">
	   
             {{ content }}
	   
      </div>
	
<footer>
    		<ul>
        		<li><a href="mailto:darionnewton1@gmail.com">email</a></li>
			  </ul>
       
</footer>
</body>
     
</html>
